/* ------------Global Styles------------- */
 * {
    box-sizing: border-box;
 }

 body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #1a1a1a;
    line-height: 1.6;
 }

 /* -----------Header------------ */ 
 header {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 2rem 1rem;
 }

 #course-title {
   font-size: 2rem;
 }

 .subtitle {
    margin-top: 0.5rem;
    font-size: 1rem;
 }

 /* -----------Navigation----------- */  
 .nav-list {
    list-style: none;
    padding: 0;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
 }

 .nav-list a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 2px;
 }

 .nav-list a:hover {
    text-decoration: underline;
 }

 /* -----------Main Content------------ */ 
 main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #ffffff;
 }

 section {
    margin-bottom: 2.5rem;
 }

 h2 {
    color: #003366;
    text-align: center;
 }

 /* ------------Main Grid Layout------------ */
 .home-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
 }

 /* ------------Card Styling------------- */
 .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
 }

 /* Card header bar */ 
 .card-title {
    background-color: #1f4f75;
    color: #ffffff;
    padding: 0.75rem 1rem;
    margin: 0;
    font-size: 1.1rem;
 }

 /* ----------About Section------------ */
.about-content {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    align-items: flex-start;
}

.about-text {
    flex: 2;
}

.location {
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
}

/* Profile Image */ 
.profile-img {
    width: 150px;
    height: auto;
    border-radius: 6px;
    border: 1px solid #999;
}

/* ------------Resources------------- */ 
.resource-list {
    list-style: disc;
    padding: 1rem 2rem;
}

.resource-list a {
    color: #003366;
}

.resource-list a:hover {
    text-decoration: underline;
}
 /* -------------Footer-------------- */ 
 footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #e0e0e0;
    font-size: 0.9rem;
 }