@media screen and (min-width: 500px) {
    main figure {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

header {
    padding: 1rem 2rem;
}

nav ul {
    justify-content: flex-start;
}

nav a:hover {
    transform: scale(1.05);
}

}

@media screen and (min-width: 768px) {
    main figure {
        grid-template-columns: repeat(3, 1fr);
    }
}